<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tw_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.TImeWise"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEventActivity"/>
        <activity android:name=".EventDetailsActivity"/>
        <activity android:name=".DayViewActivity"/>
        <!--I used this to debug something with this but now it's just useless-->
        <!--!TODO: Change this back to .MainActivity-->
        <activity android:name=".MainActivity"/>
    </application>

</manifest>